
<% @view_post.attachments.each do |attachment| %>	
	<div class="row-fluid">
		<div class="span12">
			<ul>
				<li style="font-size: 18px;font-weight: 200;line-height: 30px;">
					<%= link_to attachment.title, project_url(:page => 'post_view', :post_id => @view_post.id, :phase => @view_post.phase, :attachment_partial => 'view', :attachment_id => attachment.id) %>
				</li>
				<ul>
					<% attachment.notes.each do |note| %>
						<li><%= note.text %></li>
					<% end %>
				</ul>
			</ul>
		</div>
	</div>
<% end %>

