<%= @attachment.title %>

<% if @attachment.file.present? %>
	<div class="row-fluid">
		<iframe class="span12" src="<%= @attachment.file_url %>" height="800"frameborder="0">Unfortunately, your browser does not support the use of iframes. Please upgrade to a different browswer like Google Chrome or Mozilla Firefox</iframe>
	</div>
<% end %>
<% if @attachment.url.present? %>
	<iframe height="1000" width="100%" frameBorder="0" src="http://<%= @attachment.url %>">Unfortunately, your browser does not support the use of iframes. Please upgrade to a different browswer like Google Chrome or Mozilla Firefox</iframe>
<% end %>