<div class="row-fluid">
	<div class="span1"></div>
	<div class="span10">
		<a href="<%= @back %>"><button class="btn btn-large btn-block btn-warning" type="button"><i class="icon-arrow-left"></i> Go Back</button></a>
	</div>
	<div class="span1"></div>
</div>

<br />



<div class="row-fluid">
	<div class="span1"></div>
	<div class="span10">
		<div class="alert alert-block">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <h4>Eek! I think you may have made a mistake</h4>
		  <% @errors.each do |error| %>
		  	<li><%= error.first.capitalize %> <%= error.last.last %></li>	
		  <% end -%>
		</div>
	</div>
	<div class="span1"></div>
</div>



